<body>

    <section class="topic">
        <h1><b>{{title}}</b></h1>
        <h2>Mean Stack Engineer in NYC</h2>
    </section>


    <section class="intro">
        <h3>{{intro}}</h3>
    </section>


    <section class="topic">
        <h1>Technical Skills</h1>
    </section>


    <section class="intro-tech">
        <table>
            <tr>
                <td><b>Web Tech Stack:</b> </td>
                <td>Angular 8+, MongoDB, Neo4j, NestJS, Flask, Bootstrap, CSS3, HTML, ElasticSearch</td>

            </tr>
            <tr>
                <td><b>Development Methodologies:</b></td>
                <td>Agile / Scrum</td>
            </tr>
            <tr>
                <td><b>Testing and Debugging Tools: </b></td>
                <td>Postman, Jasmine, Karma</td>
            </tr>

            <tr>
                <td><b>Database Server & IDE:</b></td>
                <td>PostgreSQL, MongoDB, DBeaver, VS Code</td>
            </tr>

            <tr>
                <td><b>Version Control & Project Management:</b></td>
                <td>Jira, Trello, GitHub </td>
            </tr>
        </table>

    </section>


    <section class="topic">
        <h1>Experience</h1>
    </section>


    <section class="intro">
        <div class="works-top">
            <h2>Audience11, New York, NY</h2>
            <h3>2022-2023</h3>
        </div>

        <div class="works">
            Audience11 is the audience-on-demand platform focusing on small to medium-sized e-commerce firms and
            providing a streamlined service to transfer data to a customized audience pool and provide overall data
            solutions. Audience11 and Mamon11 have implemented multiple digital advertising platforms endpoints such as
            Google, Facebook, Criteo, Tiktok, and Shopify to analyze sales and marketing data directly from the source
            and provide unique near-real-time marketing strategies solutions to the customers.
            <ul>
                <li>
                    Developed Client Management System using Angular 14, Angular Material, TypeScript, Rxjs, NestJS, and
                    PostgreSQL
                </li>
                <li>
                    Conducted Angular application version upgrade from Angular 12 to Angular 14
                </li>
                <li>
                    Utilized core Angular features such as Data Binding, Reactive Forms, Services, and Dependency
                    Injection
                </li>
                <li>
                    Used Angular Material library to construct a consistent and functional web page with Angular CLI and
                    NPM
                </li>
                <li>
                    Designed login system and validators, set user roles and authorization, created authentication guard
                    with JSON Web Token (JWT)
                </li>
                <li>
                    Developed user features which included CRUD to the client list, list pagination, file
                    upload/download implementation, sending custom emails with Rich-Text-Editor library, built search
                    box feature to filter clients' information
                </li>
                <li>
                    Developed and maintained RESTful APIs using NestJS, an efficient Node.js framework
                </li>
                <li>
                    Participated in daily Scrum meetings and use the Agile development approach with Jira to manage
                    development progress on the project
                </li>
                <li>
                    Familiar with web accessibility evaluation tools using WAVE and AMP
                </li>
                <li>
                    Involved in designing test cases and unit tests by testing tools with Jasmine and Karma
                </li>
                <li>
                    Used GitHub as a version control tool for effectively managing the code bases and collaborating with
                    the team
                </li>
                <li>
                    Collaborated with cross-functional teams to deliver high-quality front-end solutions

                </li>
            </ul>



        </div>

    </section>


    <section class="intro">
        <div class="works-top">
            <h2>MediaStorm, New York, NY</h2>
            <h3>2022</h3>
        </div>

        <div class="works">
            <p>
                MediaStorm is known as the `Media Agency for the Media` as many networks are both present and past
                clients. It collects advertisement channels and APIs from major digital advertising platforms including
                Google, Facebook, and The Trade Desk, then it creates easy access for the clients to submit their
                marketing demands and deploy their campaigns through multiple channels. MediaStorm also provides strong
                data analytics services for clients to monitor campaign performances and trends. The proprietary
                predictive platform ties custom data science tools to ROI modeling.
            </p>
            <ul>
                <li>
                    Developed Google SEM setup feature using Angular 8, Angular CLI, Angular Material, TypeScript, and
                    RxJS
                </li>
                <li>
                    Created Angular Components using Angular Material including Autocomplete, Button, Dialog,
                    Datepicker, Paginator, and Snackbar
                </li>
                <li>
                    Implemented Google Maps JavaScript API module in the project to display and enable selection of the
                    geological position of client stores around North America
                </li>
                <li>
                    Implemented Angular NgZone library to optimize application performance on detecting user inactivity
                    and logout function
                </li>
                <li>
                    Maintained back-end service and RESTful APIs using Python Flask with Celery Task and Redis event
                    message broker
                </li>
                <li>
                    Optimized database schemas on MongoDB to improve performance and scalability
                </li>
                <li>
                    Collaborated with the Data Science team on displaying web features and analytics results
                </li>
                <li>
                    Leveraged GitHub as a version control tool to manage code bases and facilitate front-end team
                    collaboration effectively.
                </li>
            </ul>
        </div>

    </section>

    <section class="intro">
        <div class="works-top">
            <h2>Airiti.Inc, New Taipei City, Taiwan</h2>
            <h3>2020-2022</h3>
        </div>

        <div class="works">
            <p>
                Airiti is a digital academic library platform focusing on Chinese academic journals and papers. It has
                one of the most completed and detailed Chinese academic papers databases around the globe with its
                leading Apache Lucene search engine. It provides solutions to Chinese academic communities in digital
                archive mechanisms, research analysis systems, and caliber academic publications.
            </p>

            <ul>
                <li>
                    Developed a prototyped version of Backend search engine functionality using Python, ElasticSearch,
                    Logstash, and Kibana

                </li>
                <li>
                    Developed front-end advanced search and display search results using web development framework on
                    Angular 10 on the demo website

                </li>
                <li>
                    Implemented Graph database on academic papers to display paper citation relationships and related
                    papers using Neo4j database

                </li>
                <li>
                    Visualized nodes, relationships, and properties of academic papers using Three.js and Python package
                    NetworkX

                </li>
                <li>
                    Implemented server-side paginator to reduce initial page loading time for the large data set

                </li>
                <li>
                    Collaborated with cross-functional teams to deliver the prototype setting of the Chinese journal
                    search engine using ElasticSearch

                </li>
                <li>
                    Created and set multi-node clusters, document shards, and replicas to ensure data security and
                    created inverted indexes on documents

                </li>
                <li>
                    Designed CRUD on document manipulation and bulk API standards to match the search parameters and
                    requirements including fuzziness, should, regex, and wildcard

                </li>
                <li>
                    Created character filter, tokenizer, and token filter to build the customized Chinese document
                    analyzer to fulfill the actual searching behavior

                </li>
                <li>
                    Optimized the search results by fine-tuning the ranking mechanism and improving document search
                    precision/recall rate on the pivot testing version

                </li>
                <li>
                    Used Docker to containerize ElasticSearch Stack into the company`s backend server on the Linux
                    Ubuntu system

                </li>
                <li>
                    Employed Github to handle the code bases and foster team collaboration proficiently

                </li>
            </ul>
        </div>

    </section>

    <section class="intro">
        <div class="works-top">
            <h2>Industrial Technology Research Institute</h2>
            <h3>2018-2020</h3>
        </div>

        <div class="works">
            <p>
                Industrial Technology Research Institute (ITRI) is the largest research and development institution in
                Taiwan that focuses on high-end technology and semiconductors industries and has nourished successful
                tech companies such as TSMC and UMC. It has unique advantages in the technology industry of strong
                patents on different aspects of technology and its comprehensive startup data record and analysis of
                around 50 years.
            </p>

            <ul>
                <li>
                    Developed and designed a series of internal websites on Behavioral Economics research and
                    experiments using JavaScript MVC, HTML, Flask, and MySQL

                </li>
                <li>
                    Created the behavioral experiment webpage using JavaScript Model-View-Controller (MVC) design
                    pattern

                </li>
                <li>
                    Designed JavaScript webpage to display and collect experiment data using Python Flask and MySQL
                    database

                </li>
                <li>
                    Worked with team on RESTful API designs and assist with future scripted APIs and WebSocket
                    investigations

                </li>
                <li>
                    Designed and optimized both database schemas and tables for MySQL

                </li>
                <li>
                    Created automatic web scraping tools and HTTP requests by Python Beautiful Soup and requests library
                    for the Macro Economics research data

                </li>
                <li>
                    Developed automation tools for data collection and regression analysis using Amazon MTurk, Python 3,
                    R, and Stata

                </li>
                <li>
                    Performed more than 3 series of standardized experiment documentation and statistical data analysis

                </li>
            </ul>

        </div>

    </section>


    <section class="intro-end">
        <div class="works-top">
            <h2>Cathay United Bank</h2>
            <h3>2016-2018</h3>
        </div>

        <div class="works">
            <p>The Digital Banking department at Cathay United Bank is the main source of developing the latest
                technologies in the commercial banking industry. With the main responsibility of starting online
                campaigns to attract customers and their usage, it also developed and maintained the company website and
                provided data reports and research on overall client statistics such as ATMs, branches usages, and
                website usage.


            </p>
            <ul>
                <li>
                    Developed ATM deployment project and visualization using JavaScript and Google Map API
                </li>
                <li>
                    Created visualized ATM deployment priority dashboard by overlapping the site`s geological location
                    and local population distribution with Google Map JavaScript API

                </li>
                <li>
                    Designed and developed web applications using HTML/CSS and JavaScript using MVC frameworks

                </li>
                <li>
                    Conducted data analysis on ATM deployment Benefit-Cost Analysis based on the projected usage and
                    population distribution using Python and R

                </li>
                <li>
                    Collected details on integration issues to reduce vulnerabilities and increase website security

                </li>
                <li>
                    Responsible for in-person field research on on-site deployment details, logistics analysis, and
                    production of the monthly report

                </li>
                <li>
                    Utilized Agile development methodologies under the digital banking department to ensure timely
                    delivery of project milestones

                </li>
                <li>
                    Worked closely with the ATM digital marketing team and IT team with weekly standup progress update
                    meeting

                </li>

            </ul>
        </div>
    </section>





</body>