

<body>

    <section class="topic">
      <h1>{{title}}</h1>
      <h2>Mean Stack Engineer</h2>
    </section>
  
  
    <section class="intro">
      <h3>{{intro}}</h3>
    </section>
  
  
    <section class="topic">
      <h1>Experience</h1>
    </section>
  
  
    <section class="intro">
      <div class="works">
        <h2>Audience11, New York, NY</h2>
        <h3>2022-2023</h3>
      </div>
      
      <div class="works">
        Audience11 is the audience-on-demand platform focusing on small to medium-sized e-commerce firms and providing a streamlined service to transfer data to a customized audience pool and provide overall data solutions. Audience11 and Mamon11 have implemented multiple digital advertising platforms endpoints such as Google, Facebook, Criteo, Tiktok, and Shopify to analyze sales and marketing data directly from the source and provide unique near-real-time marketing strategies solutions to the customers. 
      </div>
  
    </section>
  
  
    <section class="intro">
      <div class="works">
        <h2>MediaStorm, New York, NY</h2>
        <h3>2022</h3>
      </div>
      
      <div class="works">
        <p>
          MediaStorm is known as the `Media Agency for the Media` as many networks are both present and past clients. It collects advertisement channels and APIs from major digital advertising platforms including Google, Facebook, and The Trade Desk, then it creates easy access for the clients to submit their marketing demands and deploy their campaigns through multiple channels. MediaStorm also provides strong data analytics services for clients to monitor campaign performances and trends. The proprietary predictive platform ties custom data science tools to ROI modeling. 
        </p>
      </div>
  
    </section>
  
    <section class="intro">
      <div class="works">
        <h2>Airiti.Inc, New Taipei City, Taiwan</h2>
        <h3>2020-2022</h3>
      </div>
      
      <div class="works">
        <p>
          Airiti is a digital academic library platform focusing on Chinese academic journals and papers. It has one of the most completed and detailed Chinese academic papers databases around the globe with its leading Apache Lucene search engine. It provides solutions to Chinese academic communities in digital archive mechanisms, research analysis systems, and caliber academic publications. 
        </p>
        </div>
  
    </section>
  
    <section class="intro">
      <div class="works">
        <h2>Industrial Technology Research Institute, Taipei City, Taiwan</h2>
        <h3>2018-2020</h3>
      </div>
      
      <div class="works">
        <p>
          Industrial Technology Research Institute (ITRI) is the largest research and development institution in Taiwan that focuses on high-end technology and semiconductors industries and has nourished successful tech companies such as TSMC and UMC. It has unique advantages in the technology industry of strong patents on different aspects of technology and its comprehensive startup data record and analysis of around 50 years. 
        </p>
      </div>
  
    </section>
  
  
    <section class="intro">
      <div class="works">
        <h2>Cathay United Bank, Taipei City, Taiwan</h2>
        <h3>2016-2018</h3>
      </div>
      
      <div class="works">
        <p>The Digital Banking department at Cathay United Bank is the main source of developing the latest technologies in the commercial banking industry. With the main responsibility of starting online campaigns to attract customers and their usage, it also developed and maintained the company website and provided data reports and research on overall client statistics such as ATMs, branches usages, and website usage.  
        </p>
      </div>
  
    </section>
  
  
  
    <section class="topic">
      <h1>Technical Skills</h1>
    </section>
  
  
    <section class="intro-tech">
      <table>
        <tr>
          <td>Web Tech Stack: </td>
          <td>Angular 8+, MongoDB, Neo4j, NestJS, Flask, Bootstrap, CSS3, HTML, ElasticSearch</td>
  
        </tr>
        <tr>
          <td>Development Methodologies:</td>
          <td>Agile / Scrum</td>
        </tr>
        <tr>
          <td>Testing and Debugging Tools: </td>
          <td>Postman, Jasmine, Karma</td>
        </tr>
  
        <tr>
          <td>Database Server & IDE:</td>
          <td>PostgreSQL, MongoDB, DBeaver, VS Code</td>
        </tr>
  
        <tr>
          <td>Version Control & Project Management:</td>
          <td>Jira, Trello, GitHub </td>
        </tr>
      </table>
  
    </section>
  
  
  
</body>
